body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   padding: 6px 15px 6px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#headerLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#headerLayoutGrid > .row > .col-1, #headerLayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .row > .col-1, #headerLayoutGrid > .row > .col-2
{
   float: left;
}
#headerLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#headerLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: right;
}
#headerLayoutGrid:before,
#headerLayoutGrid:after,
#headerLayoutGrid .row:before,
#headerLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#headerLayoutGrid:after,
#headerLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#headerLayoutGrid > .row > .col-1, #headerLayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_headerIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#headerIcon3
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#headerIcon3 i
{
   color: #D6D6D6;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_headerIcon3:hover #headerIcon3 i
{
   color: #FFFFFF;
}
#wb_headerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#headerIcon2
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#headerIcon2 i
{
   color: #D6D6D6;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_headerIcon2:hover #headerIcon2 i
{
   color: #FFFFFF;
}
#wb_headerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#headerIcon1
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#headerIcon1 i
{
   color: #D6D6D6;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_headerIcon1:hover #headerIcon1 i
{
   color: #FFFFFF;
}
#headerBreadcrumb
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 12px;
   text-transform: none;
}
#headerBreadcrumb a
{
   color: #D9D9D9;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#headerBreadcrumb > .active
{
   color: #FFFFFF;
}
#headerBreadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#headerBreadcrumb li i
{
   font-size: 12px;
   width: 14px;
}
#wb_navigationLayoutGrid
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: #FFFFFF;
   background-image: url('../logo.svg');
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
   border: 0px solid #FFFFFF;
   border-image-source: url('../logo.svg');
   border-image-slice: 84 153 84 153;
   border-image-width: 0px;
   border-image-repeat: stretch;
   box-sizing: border-box;
   margin: 0;
}
#navigationLayoutGrid
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#navigationLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#navigationLayoutGrid > .row > .col-1, #navigationLayoutGrid > .row > .col-2, #navigationLayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#navigationLayoutGrid > .row > .col-1, #navigationLayoutGrid > .row > .col-2, #navigationLayoutGrid > .row > .col-3
{
   float: left;
}
#navigationLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#navigationLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 58.33333333%;
   text-align: center;
}
#navigationLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#navigationLayoutGrid:before,
#navigationLayoutGrid:after,
#navigationLayoutGrid .row:before,
#navigationLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#navigationLayoutGrid:after,
#navigationLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#navigationLayoutGrid > .row > .col-1, #navigationLayoutGrid > .row > .col-2, #navigationLayoutGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#navigationMenu
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#navigationMenu > li
{
   display: inline-block;
   font-size: 15px;
   text-transform: none;
}
#navigationMenu a
{
   color: #333333;
   text-decoration: none;
}
#navigationMenu a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#navigationMenu > .active
{
   color: #23527C;
}
#navigationMenu > .active a
{
   color: inherit;
   pointer-events: none;
}
#navigationMenu > li + li:before
{
   content: "|";
   padding: 0 20px;
   color: #E1E1E1;
}
#navigationMenu li:hover
{
   background-color: #FFFFFF;
   transition: background-color 500ms linear 0ms;
}
#wb_bestSellerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/DALL·E 2025-04-09 16.42.20 - A .png');
   background-repeat: repeat;
   background-position: left top;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#bestSellerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 55px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#bestSellerLayoutGrid > .col-1, #bestSellerLayoutGrid > .col-2, #bestSellerLayoutGrid > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#bestSellerLayoutGrid > .col-1, #bestSellerLayoutGrid > .col-2, #bestSellerLayoutGrid > .col-3
{
   flex: 0 0 auto;
}
#bestSellerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px double #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#bestSellerLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#bestSellerLayoutGrid > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#bestSellerLayoutGrid > .col-1, #bestSellerLayoutGrid > .col-2, #bestSellerLayoutGrid > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcome-carousel
{
   background-color: transparent;
   background-image: url('../images/12000btu-air-conditioner_wb_welcome-carousel_bkgrnd.png');
   background-repeat: repeat;
   background-position: left top;
   border-radius: 0px;
   margin: 0;
}
#wb_welcome-carousel
{
   box-sizing: border-box;
   width: 100%;
   height: 541px;
}
#welcome-carousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#welcome-carousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#welcome-carousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#welcome-carousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#welcome-carousel .carousel-item-next:not(.carousel-item-start), #welcome-carousel .active.carousel-item-end
{
   transform: translateX(100%);
}
#welcome-carousel .carousel-item-prev:not(.carousel-item-end), #welcome-carousel .active.carousel-item-start
{
   transform: translateX(-100%);
}
#welcome-carousel .carousel-item-inner
{
   padding: 0 25px 0 25px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#welcome-carousel .carousel-inner > .carousel-item > img, #welcome-carousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#welcome-carousel .carousel-inner > .active, #welcome-carousel .carousel-inner > .carousel-item-next, #welcome-carousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#welcome-carousel .carousel-inner > .carousel-item-next, #welcome-carousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#welcome-carousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -68px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#welcome-carousel .carousel-indicators li
{
   display: inline-block;
   position: relative;
   margin: 12px 12px 12px 12px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: rgba(0,0,0,1.00);
   border: 1px solid rgba(255,255,255,1.00);
   transform: scale(0.4);
   transition: transform 0.3s ease, background-color 0.3s ease;
}
#welcome-carousel .carousel-indicators .active
{
   transform: scale(1.0);
}
#welcome-carousel .carousel-indicators li:hover
{
   transform: scale(0.8);
}
#welcome-carousel .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 15%;
   text-align: center;
   opacity: 0.5;
   cursor: pointer;
   z-index: 7778;
}
#welcome-carousel .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#welcome-carousel .carousel-control .carousel-control-prev-icon, #welcome-carousel .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 42px;
   height: 42px;
   z-index: 5;
}
#welcome-carousel .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#welcome-carousel .frame
{
   width: 455px;
   display: inline-block;
   float: left;
   height: 541px;
}
#welcome-carousel .carousel-control-next, #welcome-carousel .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#welcome-carousel .carousel-control-next-icon, #welcome-carousel .carousel-control-prev-icon
{
   display: inline-block;
   width: 42px;
   height: 42px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#welcome-carousel .carousel-control-next:hover, #welcome-carousel .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#welcome-carousel .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M112%2042%20C113%2043%2c%20113%2044%2c%20113%2045%20C113%2047%2c%20113%2048%2c%20112%2049%20L75%2084%20L112%20120%20C113%20121%2c%20113%20122%2c%20113%20123%20C113%20125%2c%20113%20126%2c%20112%20127%20L107%20131%20C106%20132%2c%20105%20133%2c%20104%20133%20C102%20133%2c%20101%20132%2c%20100%20131%20L57%2088%20C56%2087%2c%2055%2086%2c%2055%2084%20C55%2083%2c%2056%2082%2c%2057%2081%20L100%2037%20C101%2036%2c%20102%2036%2c%20104%2036%20C105%2036%2c%20106%2036%2c%20107%2037%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .carousel-control:hover .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M112%2042%20C113%2043%2c%20113%2044%2c%20113%2045%20C113%2047%2c%20113%2048%2c%20112%2049%20L75%2084%20L112%20120%20C113%20121%2c%20113%20122%2c%20113%20123%20C113%20125%2c%20113%20126%2c%20112%20127%20L107%20131%20C106%20132%2c%20105%20133%2c%20104%20133%20C102%20133%2c%20101%20132%2c%20100%20131%20L57%2088%20C56%2087%2c%2055%2086%2c%2055%2084%20C55%2083%2c%2056%2082%2c%2057%2081%20L100%2037%20C101%2036%2c%20102%2036%2c%20104%2036%20C105%2036%2c%20106%2036%2c%20107%2037%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M112%2081%20C113%2082%2c%20113%2083%2c%20113%2084%20C113%2086%2c%20113%2087%2c%20112%2088%20L68%20131%20C67%20132%2c%2066%20133%2c%2065%20133%20C63%20133%2c%2062%20132%2c%2061%20131%20L57%20127%20C56%20126%2c%2055%20125%2c%2055%20123%20C55%20122%2c%2056%20121%2c%2057%20120%20L93%2084%20L57%2049%20C56%2048%2c%2055%2047%2c%2055%2045%20C55%2044%2c%2056%2043%2c%2057%2042%20L61%2037%20C62%2036%2c%2063%2036%2c%2065%2036%20C66%2036%2c%2067%2036%2c%2068%2037%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .carousel-control:hover .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M112%2081%20C113%2082%2c%20113%2083%2c%20113%2084%20C113%2086%2c%20113%2087%2c%20112%2088%20L68%20131%20C67%20132%2c%2066%20133%2c%2065%20133%20C63%20133%2c%2062%20132%2c%2061%20131%20L57%20127%20C56%20126%2c%2055%20125%2c%2055%20123%20C55%20122%2c%2056%20121%2c%2057%20120%20L93%2084%20L57%2049%20C56%2048%2c%2055%2047%2c%2055%2045%20C55%2044%2c%2056%2043%2c%2057%2042%20L61%2037%20C62%2036%2c%2063%2036%2c%2065%2036%20C66%2036%2c%2067%2036%2c%2068%2037%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .frame-1
{
   background-color: #F4F5F9;
   background-image: url('../images/72fcdde73f8c8cce4fbcb0192420c61d.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcome-carousel .frame-2
{
   background-color: transparent;
   background-image: url('../images/12da08b5392205e1b7e9aa619bb79365.jpg');
   background-repeat: space;
   background-position: center center;
   background-size: contain;
}
#welcome-carousel .frame-3
{
   background-color: #F4F5F9;
   background-image: url('../images/7e0e6dd6cd2b3f14e76715f2b70832e8.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcome-carousel .frame-4
{
   background-color: transparent;
   background-image: url('../images/343c7349fee8caccf129f57d94f41027.jpg');
   background-repeat: round;
   background-position: center center;
   background-size: contain;
}
#wb_welcome-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_welcome-text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_welcome-text1 p, #wb_welcome-text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_welcome-text2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   text-decoration: line-through;
   font-size: 13px;
   line-height: 16px;
}
#wb_welcome-text2 p, #wb_welcome-text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_welcome-text3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_welcome-text3 p, #wb_welcome-text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_welcome-text4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   text-decoration: line-through;
   font-size: 13px;
   line-height: 16px;
}
#wb_welcome-text4 p, #wb_welcome-text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/DALL·E 2025-04-09 16.42.20 - A .png');
   background-repeat: repeat;
   background-position: left top;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 55px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #838383;
   border-radius: 0px;
   max-width: 100%;
   width: 100%;
   height: auto;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   border-top: 37px #FFFFFF double;
   border-width: 37px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 10px 10px 10px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#Card2-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0;
   padding: 8px 4px 8px 4px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0;
   padding: 8px 4px 8px 4px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #D9D9DA;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-decoration: line-through;
}
#Card2-card-item5
{
   box-sizing: border-box;
   margin: 12px 0 0 0 ;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item6
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item7
{
   display: inline-block;
   height: 56px;
   box-sizing: border-box;
   align-self: center;
   margin: 10px 0 1px 0 ;
   width: 100%;
   padding: 20px 0 20px 0;
   border: 0px solid #4F4F4F;
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: center;
}
#Card2-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#wb_serviceLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F6F9FC;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#serviceLayoutGrid
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#serviceLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#serviceLayoutGrid > .row > .col-1, #serviceLayoutGrid > .row > .col-2, #serviceLayoutGrid > .row > .col-3, #serviceLayoutGrid > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#serviceLayoutGrid > .row > .col-1, #serviceLayoutGrid > .row > .col-2, #serviceLayoutGrid > .row > .col-3, #serviceLayoutGrid > .row > .col-4
{
   float: left;
}
#serviceLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#serviceLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#serviceLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#serviceLayoutGrid > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#serviceLayoutGrid:before,
#serviceLayoutGrid:after,
#serviceLayoutGrid .row:before,
#serviceLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#serviceLayoutGrid:after,
#serviceLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#serviceLayoutGrid > .row > .col-1, #serviceLayoutGrid > .row > .col-2, #serviceLayoutGrid > .row > .col-3, #serviceLayoutGrid > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_serviceCard1
{
   position: relative;
   display: inline-block;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   vertical-align: top;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#serviceCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#serviceCard1-card-item0
{
   display: inline-block;
   height: 68px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5465FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
}
#serviceCard1-card-item0 a
{
   color: inherit;
   display: block;
   padding: 10px 10px 10px 10px;
   text-decoration: none;
}
#serviceCard1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#serviceCard1-card-item1
{
   box-sizing: border-box;
   margin: -50px 0 0 0 ;
   padding: 0 10px 6px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#serviceCard1-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_serviceCard2
{
   position: relative;
   display: inline-block;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   vertical-align: top;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#serviceCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#serviceCard2-card-item0
{
   display: inline-block;
   height: 68px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5465FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
}
#serviceCard2-card-item0 a
{
   color: inherit;
   display: block;
   padding: 10px 10px 10px 10px;
   text-decoration: none;
}
#serviceCard2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#serviceCard2-card-item1
{
   box-sizing: border-box;
   margin: -50px 0 0 0 ;
   padding: 0 10px 6px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#serviceCard2-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_serviceCard3
{
   position: relative;
   display: inline-block;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   vertical-align: top;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#serviceCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#serviceCard3-card-item0
{
   display: inline-block;
   height: 68px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5465FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
}
#serviceCard3-card-item0 a
{
   color: inherit;
   display: block;
   padding: 10px 10px 10px 10px;
   text-decoration: none;
}
#serviceCard3-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#serviceCard3-card-item1
{
   box-sizing: border-box;
   margin: -50px 0 0 0 ;
   padding: 0 10px 6px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#serviceCard3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_serviceCard4
{
   position: relative;
   display: inline-block;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   vertical-align: top;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#serviceCard4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#serviceCard4-card-item0
{
   display: inline-block;
   height: 68px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5465FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
}
#serviceCard4-card-item0 a
{
   color: inherit;
   display: block;
   padding: 10px 10px 10px 10px;
   text-decoration: none;
}
#serviceCard4-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 48px;
   width: 48px;
}
#serviceCard4-card-item1
{
   box-sizing: border-box;
   margin: -50px 0 0 0 ;
   padding: 0 10px 6px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#serviceCard4-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 25px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#links > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 41.66666667%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#links > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_contactIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon1 a
{
   text-decoration: none;
}
#wb_contactIcon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon1
{
   height: 27px;
   width: 27px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#contactIcon1 i
{
   color: #D9D9DA;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
}
#wb_contactIcon1:hover #contactIcon1 i
{
   color: #D9D9DA;
}
#wb_contactIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon2 a
{
   text-decoration: none;
}
#wb_contactIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon2
{
   height: 27px;
   width: 27px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#contactIcon2 i
{
   color: #D9D9DA;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
}
#wb_contactIcon2:hover #contactIcon2 i
{
   color: #D9D9DA;
}
#wb_contactIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon3 a
{
   text-decoration: none;
}
#wb_contactIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon3
{
   height: 27px;
   width: 27px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#contactIcon3 i
{
   color: #D9D9DA;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
}
#wb_contactIcon3:hover #contactIcon3 i
{
   color: #D9D9DA;
}
#wb_contactIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon4 a
{
   text-decoration: none;
}
#wb_contactIcon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon4
{
   height: 27px;
   width: 27px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#contactIcon4 i
{
   color: #D9D9DA;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
}
#wb_contactIcon4:hover #contactIcon4 i
{
   color: #D9D9DA;
}
#wb_contactAddress 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_contactAddress
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 19px;
}
#wb_contactAddress p, #wb_contactAddress ul
{
   margin: 0;
   padding: 0;
}
#wb_contactAddress
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 25px 0 0 0 ;
   text-align: left;
}
#wb_linksText1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 17px;
}
#wb_linksText1 div
{
   text-align: left;
}
#wb_linksText1
{
   display: block;
   margin: 25px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a
{
   text-decoration: none;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon1
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#Icon1 i
{
   color: #D6D6D6;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Icon1:hover #Icon1 i
{
   color: #FFFFFF;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon2 a
{
   text-decoration: none;
}
#wb_Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon2
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#Icon2 i
{
   color: #D6D6D6;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_Icon2:hover #Icon2 i
{
   color: #FFFFFF;
}
#wb_list14Card
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #000000;
   background-image: none;
   border: 0px solid #0D6EFD;
   border-radius: 0px;
   text-align: left;
}
#list14Card-card-body
{
   padding: 25px 25px 25px 25px;
   flex: 1 1 auto;
   font-size: 0;
}
#list14Card-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 40px;
   height: 40px;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 40px;
   height: 40px;
   vertical-align: top;
}
