html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.visibility-hidden
{
   visibility: hidden;
}
#PageHeader1
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#home
{
   background-color: transparent;
   background-image: url('../images/table1_800_faded.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#home-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #0AABE1;
   opacity: 0.5;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Heading1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_up-arrow
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow a
{
   text-decoration: none;
}
#wb_up-arrow a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#up-arrow
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#up-arrow i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_up-arrow:hover #up-arrow i
{
   color: #0AABE1;
}
#wb_down-arrow
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_down-arrow a
{
   text-decoration: none;
}
#wb_down-arrow a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#down-arrow
{
   height: 36px;
   width: 36px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#down-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
}
#wb_down-arrow:hover #down-arrow i
{
   color: #0AABE1;
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #048BB9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#services > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #048BB9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_MaterialIcon2
{
   background-color: #048BB9;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_MaterialIcon2 a
{
   text-decoration: none;
}
#wb_MaterialIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_MaterialIcon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #048BB9;
}
#MaterialIcon2
{
   height: 44px;
   width: 44px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.MaterialIcon2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
}
.MaterialIcon2:before
{
   content: "\eb36";
}
#MaterialIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
}
#wb_MaterialIcon2:hover #MaterialIcon2 i
{
   color: #048BB9;
}
#wb_MaterialIcon2
{
   transition: all 500ms linear 0ms;
}
#wb_ServicesText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 25px 0;
   margin: 0;
   text-align: center;
}
#wb_ServicesText2 div
{
   text-align: center;
}
#wb_ServicesText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #048BB9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #0AABE1;
   border: 0px solid #5B7B9D;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 46px;
   padding: 0 8px 0px 8px;
   line-height: 46px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid #B6AB8C;
   background-color: #0AABE1;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 15px 0 0 0;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Heading4 a
{
   color: inherit;
   text-decoration: none;
}
#StickyLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 4px solid #99DCF3;
   border-radius: 50%;
   opacity: 0.80;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   animation: clip-path-chevron-enter 1000ms linear 0ms infinite normal both;
   text-align: center;
}
#Heading2
{
   color: #FFFF00;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Heading2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_CssMenu1
{
   position: absolute;
   left: 867px;
   top: 34px;
   width: 89px;
   height: 49px;
   z-index: 0;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#home
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 100%;
   float: left;
   display: block;
   z-index: 9;
}
#PageHeader1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   height: 100px;
   z-index: 7777;
}
#wb_down-arrow
{
   position: absolute;
   left: 459px;
   top: 630px;
   width: 36px;
   height: 36px;
   text-align: center;
   z-index: 1;
}
#wb_up-arrow
{
   position: absolute;
   left: 7px;
   top: 6px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 8;
}
#wb_Heading4
{
   display: block;
   width: 100%;
   z-index: 5;
}
#wb_MaterialIcon2
{
   display: inline-block;
   width: 44px;
   height: 44px;
   text-align: center;
   z-index: 6;
}
#wb_Heading2
{
   position: absolute;
   left: 185px;
   top: 264px;
   width: 618px;
   height: 57px;
   z-index: 4;
}
#home_Container
{
   width: 968px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#StickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 25px;
   top: auto;
   bottom: 25px;
   width: 46px;
   height: 46px;
   z-index: 10;
}
#wb_Heading1
{
   position: absolute;
   left: 167px;
   top: 189px;
   width: 618px;
   height: 57px;
   z-index: 3;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 140px;
   visibility: visible;
}
#PageHeader1_Container
{
   width: 480px;
}
#home
{
   width: 480px;
   height: 717px;
   visibility: visible;
   display: block;
   margin: 0;
}
#home
{
   margin: 0;
}
#home_Container
{
   width: 480px;
}
#home
{
    width: 100%;
    height: 100%;
}
#wb_Heading1
{
   left: 21px;
   top: 232px;
   width: 437px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   text-align: center;
   text-transform: none;
}
#Heading1 a
{
   color: inherit;
}
#wb_up-arrow
{
   left: 7px;
   top: 6px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#up-arrow
{
   width: 24px;
   height: 24px;
}
#up-arrow i
{
   line-height: 24px;
   font-size: 24px;
   width: 15px;
}
#wb_down-arrow
{
   left: 215px;
   top: 630px;
   width: 36px;
   height: 36px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#down-arrow
{
   width: 36px;
   height: 36px;
}
#down-arrow i
{
   line-height: 36px;
   font-size: 36px;
   width: 23px;
}
#wb_services
{
   visibility: visible;
   display: table;
}
#wb_services
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#services
{
   height: auto;
   padding: 50px 15px 50px 15px;
}
#services .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#services > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #048BB9;
   background-image: none;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_MaterialIcon2
{
   width: 44px;
   height: 44px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 16px 16px 16px 16px;
   background-color: #048BB9;
   background-image: none;
}
#MaterialIcon2
{
   width: 44px;
   height: 44px;
}
#MaterialIcon2 i
{
   line-height: 44px;
   font-size: 44px;
   width: 44px;
}
#wb_MaterialIcon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #048BB9;
}
#wb_ServicesText2
{
   visibility: visible;
   display: block;
}
#wb_ServicesText2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_CssMenu1
{
   left: 0px;
   top: 88px;
   visibility: visible;
   display: block;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #0AABE1;
   border: 0px solid #5B7B9D;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 46px;
   padding: 0 8px 0px 8px;
   line-height: 46px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid #B6AB8C;
   background-color: #0AABE1;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Heading4
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   background-color: transparent;
   background-image: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   text-align: center;
   text-transform: none;
}
#Heading4 a
{
   color: inherit;
}
#StickyLayer
{
   width: 46px;
   height: 46px;
   visibility: visible;
   display: block;
}
#wb_Heading2
{
   left: 21px;
   top: 232px;
   width: 437px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Heading2
{
   color: #FFFF00;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   text-align: center;
   text-transform: none;
}
#Heading2 a
{
   color: inherit;
}
}
#wb_down-arrow
{
   top: auto !important; 
   bottom: 25px !important;
   left: 50% !important;
   margin-left: -25px;
}
